

/* footer css begins */

#footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(22, 22, 22);
    height: 290px;
    margin: 0;
    display: block;
}

.main-content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: center;
    
   
}

.left-box{
    width: 33%;
    padding-right: 100px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;

    
}




.center-box{
    width: 33%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    
}

.right-box{
    width: 33%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding-left: 65px;
    margin: 20px;   
}

.about {
    font-size: 30px;
    padding-bottom: 10px;
}

.text{
    color: rgb(146, 146, 146);
    font-size: 15px;
}
.social{
    font-size: 24px;
    padding-top: 15px;
}


.copy{
    color: rgb(136, 136, 136);
    font-size: 15px;
    margin-top: 10px;
    bottom: 0ch;
}

@media (max-width: 1300px){
    #footer{
        height: auto;
    }
    .main-content{
        padding-bottom: 0px;
    }

    .copy{
        padding-bottom: 10px;
    }
}
 
@media (max-width: 980px){
    #footer{
        height: auto;
    }
    .about {
        font-size: 20px;
    }
    .text{
        width: 100%;
     
        font-size: 13px;
    }
    .right-box{
        padding-left: 45px;
    }
    .left-box{
        margin: 10px;
        padding-right: 50px;
    }
    .center-box{
        margin: 10px;
    }
    .right-box{
        margin: 10px;
    }
    .social{
        font-size: 20px;
        padding-top: 5px;
    }
    .copy{
        font-size: 13px;
        bottom: 0%;
        
    }
    .main-content{
        padding-bottom: 0px;
    }
    
}

@media (max-width: 850px){
    #footer{
        height: auto;
    }
    .about {
        font-size: 15px;
    }
    .text{
       
        font-size: 10px;
    }
    .right-box{
        padding-left: 20px;
    }
    .left-box{
        margin: 5px;
        padding-left: 20px;
    }
    .center-box{
        margin: 5px;
        padding-left: 20px;
    }
    .copy{
        font-size: 10px;
        padding-bottom: 5px;
    }

    .social{
        font-size: 13px;
        padding-top: 3px;
        
    }
    }
    
    
        
  



@media (max-width: 600px){
    .main-content{
        display: inline;
        
    }
    #footer{
        height: auto
    }
    .main-content{
        padding-top: 10px;
    }
    .left-box{
        width: 100%;
        margin-bottom: 5px;
    }
    .center-box{
        width: 100%;
        margin-bottom: 5px;
    }
    .right-box{
        width: 100%;
        margin-bottom: 5px;
    }
}