

*{
    margin: 0 ; 
    padding: 0;
    list-style: none;
    box-sizing : border-box;
    outline: none; 
    border: none;
    text-decoration : none ;
    transition : all .2s linear;
}

*::selection{
    
    color: antiquewhite;
}

html{
    font-size: 63.5%;
    overflow-x: hiddden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

}

body{
    background: #f7f7f7;
 
    
}

/* navbar styling */
nav{
    position: absolute;
    top:0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 1rem 4%;
    font-family: 'Nunito Sans', sans-serif;
}

nav ul{
    float: right;
    margin-right: 0px;
}

nav li{
    display: inline-block;
    line-height: 25px;
    margin: 0 3px;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    padding: 7px 13px;
    border-radius: 3px;
    letter-spacing: 4px;
}
nav a{
    color: rgb(255, 255, 255);
    font-size: 75.5%;
    text-transform: uppercase;
}


nav a:hover{
    color: yellow;
    background: none;
    transition: .5s;
}


/* foodie logo */
.logo{
    font-size: 25px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

/* foodie icon */
nav #icon{
    font-size: 2.5rem;
    text-align: right;
    line-height: 15px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: .1rem solid rgb(255, 255, 255);
    border-radius: .2rem solid rgb(255, 255, 255);
    padding: .3rem .3rem;
    display: none;
}

/*----------- nav styling ends ------------*/



/* ----------main background-------------- */
.container content{
    position: absolute;
    top: 20px;
    background-color: none;
    padding: 10px;
    color: white;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
}

.main-bg{
    z-index: -1;  
}

/* black layer in front of main bg */
.layer{
    background-color: black;
    opacity: 80%;
}

/* caption in front of main bg */
.text{
    position: relative;
}

.text h1, p{
    text-align: center;
    font-size: 30px;
}
/* ------------main background ends------------- */



/* ------------top suggestion ------------*/
.sect{
    background: rgb(252, 235, 235);
    font-family: 'Nunito Sans', sans-serif;
}

.owl-carousel{
    padding: auto;
}

.suggest {
    width: 320px;
    height: 200px;
    text-align: center;
    max-width: 350px;
    clip-path: circle();
    display: inline;
    min-width: 200px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
 
.item {
    margin-top: 10px;
    margin-right: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 2px; 
}

h3 {
    display: block;
    font-size: 3em;
    margin-block-start: 2px;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px 0px 0px;
    padding-bottom: 10px;
    padding-top: 20px;
}
/* ----------top suggestion ends----------- */




/* brands section */
  h4 {
    display: block;
    font-size: 2.5em;
    margin-block-start: .05em;
    margin-block-end: .2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px 0px 0px;
    padding-top: 20px;
    padding-bottom:20px;
    letter-spacing: 1px;
}



  .col {
    flex: 1;
    float: left;
    width: 16.66%;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    margin: 2px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .col:first-child{
    margin-right: 0;
  }
  .col:last-child{
    margin-right: 0;
  }
 
 
  .col:hover{
    box-shadow:  3px 5px 5px #dadada;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    margin-right:30px ;
    margin-left: 30px;
    padding-bottom: 30px; 
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .word{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

  
 
  .img{
    width: 110px;
    height: 110px;
    text-align: center;
    max-width: 150px;
    display: inline;
    min-width: 150px;
    margin-bottom: 15px;
  }
/* brand ends */


header nav ul li a{
    background-color: rgb(66 23 4 / 70%);
    border-radius: 10px;
    color: white;
    padding: 5px;

}




/* deals and offer section */
  .deal{
    padding-left: 20px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;  
  }

.carousel-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right:2px ;
    margin-left: 2px;
}

.carousel-item {
    flex: 1;
    margin-right:3px ;
    margin-left: 3px;
    padding-bottom: 30px; 
    /* width: 33.33%; */
  }

.off{
    width: 440px;
    height: 220px;
    padding: 20px;
   
}

/* -------brand ends------ */

/* -------Offers------ */
.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row2{
    display: flex;
    flex-direction: row;
}

.offerRow{
    display: flex;
    flex-direction: column;
}







/* media queries start here */
@media (max-width: 3250px){
    .carousel-inner .carousel-item{
        flex-basis: 30%;
    }

}

@media (max-width: 1250px){
    .row .col{
        margin-bottom: 5px;
        flex-basis: 20%;
     }
     .carousel-inner .carousel-item {
        margin-bottom: 2px;
        flex-basis: 20%;
      }
      .row1{
        display: flex;
        flex-direction: column;
    }
    
    .row2{
        display: flex;
        flex-direction: column;
    }
    
    .offerRow{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }


}

@media (max-width: 1100px){
    .row .col{
        margin-bottom: 5px;
        flex-basis: 30%;
     }
     .suggest {
        width: 300px;
        height: 200px;
        
        text-align: center;
        max-width: 300px;
        clip-path: circle();
        display: inline;
        min-width: 150px;
        margin-bottom: 10px;
      }

}

@media (max-width: 980px) {
  
   
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 65%
    }
    .suggest {
        width: 300px;
        height: 200px;
        
        text-align: center;
        max-width: 300px;
        clip-path: circle();
        display: inline;
        min-width: 150px;
        margin-bottom: 10px;
      }
      .item{
        padding-left: 30px;
        padding-right: 30px;
      }

      .carousel-inner .carousel-item .off{
        margin-bottom: 5px;
        flex-basis: 40%;

      }
      .swiggy{
        width:800px ;
        height: 200px;
        display: flex;
        margin-left: 10px;
      }
      .suggest {
        width: 250px;
        height: 150px;
        
        text-align: center;
        max-width: 250px;
        clip-path: circle();
        display: inline;
        min-width: 150px;
        margin-bottom: 10px;
      }
      .row1{
        display: flex;
        flex-direction: column;
    }
    
    .row2{
        display: flex;
        flex-direction: column;
    }
    
    .offerRow{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    

   
      
    
     

      
}

@media (max-width: 850px){
    nav #icon{
        display: initial;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li{
        display: block;
        margin: 35px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a:hover{
        color: aqua;
       
    }
    nav ul .show{
        left: 0;

    }
    .suggest {
        width: 250px;
        height: 150px;
        
        text-align: center;
        max-width: 250px;
        clip-path: circle();
        display: inline;
        min-width: 150px;
        margin-bottom: 10px;
      }
      .main-bg{
        height: 350px;

    }
    .item{
        padding-left: 20px;
        padding-right: 20px;
      }

      
    
    
}


@media (max-width: 750px){
    nav a{
        font-size: 17px;
    }
    .row .col{
        margin-bottom: 5px;
        flex-basis: 40%;
     }



}
@media (max-width: 700px){
    .logo{
        font-size: 22px;
    }
    nav #icon{
        font-size: 20px;
    }
    .item{
        padding-left: 0px;
        padding-right: 0px;
      }

      
      
}

@media (max-width: 500px){
    .row .col{
        flex-basis: 100%;
        margin: 2px;
     }

}


  